.footer{
  color: white;
  background-color: #343a40;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.marketing-1, .marketing-2{
  border-radius: 0 !important;
  margin:0 !important;
  min-height: 500px;
}

.marketing-1{
  background-color: #5889DF !important; 
}

.marketing-2{
  background-color: #53C8D1 !important; 
}

.login-card{
  margin-top: 5rem;
}

.login-card .card-body{
  padding: 2rem
}

body{
  background-color: #E1E1E1 !important;
}

body label, body h2{
  color:#707070 !important;
} 

div.project{
  margin-top: 1rem;
}

div.task-panel{
  background-color: #EFEEEE;
  border: 0px;
}

p.task-panel-item{
  margin-bottom: 0rem
}

div.task-item{
  margin-top: 0.5rem;
  padding: 0.5rem;
}

label.task-item-check-label{
  padding-left: 0
}

a.link-nostyle{
  text-decoration: none;
  color: inherit;
}

a.link-nostyle:hover{
  text-decoration: none;
}


/*marketing*/
.branding-img{
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0.2, 0.3, 0.2, 0.3)
}

.branding-panel p, .branding-panel h3{
  color:white;
}